# Frontend i Web
streamlit==1.32.0

# Manipulacja danymi i ETL
pandas==2.2.1
numpy==1.26.4

# API i Web Scraping
requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.1.0

# Wizualizacja Danych (wymagane 4 biblioteki)
plotly==5.19.0
matplotlib==3.8.3
seaborn==0.13.2
altair==5.2.0

# Zaawansowana Analityka i ML
scikit-learn==1.4.1.post1